<div class="container">

<div class="row">
<div class="col-md-6">



<h1>Editing System</h1>

<%= render 'form', system: @system %>

<%= link_to 'Show', @system %> |
<%= link_to 'Back', systems_path %>
</div>
</div>

</div>