@import "bootstrap";


.table-nonfluid {
   width: auto !important;
}

.container {
   	padding: 10px;
}


.mininav{

	li{
		display: inline-block;
		a{
			color: black;
			background-color: #FFCD00;
		    border: none;
		    padding: 10px 20px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 14px;
		    border-radius: 12px;
		}
	}
	.mininav_link{

	}
}


.nav.nav-center {
    margin:0 auto;
    display: inline-block;
    float:none;
}

.collapse.navbar-collapse {
	
}

.navbar-nav.mr-auto{
	.nav-item{
		.nav-link{
			color: black;
			a{
				color: black;
			}
		}
	}
}

.colored_heading h3{
	 color: #FF0000;
}

.table_a a{
	color: grey;
	
}


