@import "bootstrap";


.table-nonfluid {
   width: auto !important;
}

.container {
   	padding: 10px;
   	font-weight: 100;
}


th{
	color: grey;
	font-weight: 100;
}

p#notice{
	color: green;
}

.mininav{

	li{
		display: inline-block;
		a{
			color: black;
		    border: 2px;
		    border-color: #FFCD00;
		    border-style: solid;
		    padding: 5px 10px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 14px;
			font-weight: 500;
		    border-radius: 5px;
		}
	}
	.mininav_link{

	}
}

ul{
	display: inline-block;
			float:left;

	li{
		display: inline-block;
	}
}

.field{
	margin: 10px;
}

textarea{
	min-width: 400px;
	min-height: 200px;
}

.nav.nav-center {
    margin:0 auto;
    display: inline-block;
    float:none;
}

.collapse.navbar-collapse {
	
}

.btn{
	color: black;
	background-color: #FFCD00;
	margin: 10px; 
	a{
	color: black;
	}
}

label{
	margin-right: 20px;
}


.navbar-nav.mr-auto{
	.nav-item{
		.nav-link{
			color: black;

			a{
				color: black;

			}
		}
	}
}

input{
}

.colored_heading h3{
	 color: #FF0000;
}

.table_a a{
	color: grey;
}

h1{
	font-weight: 100;
}


